
.contentBox
{
	margin-top: 100px;
}

.hidden
{
	display: none;
}

#viewContent {
	height: 600px;
}

.itemBox
{
	text-align: center;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}