<div class="row"> 
<div ng-repeat="frame in framesInfo">
  <div class="col-xs-18 col-sm-6 col-md-4">
      <a id="buyLink" href="#Customize/{{ frame.id }}" class="list-group-item">
        <div class="thumbnail">
          <img src="http://www.competitivecyclist.com/{{ frame.skus[0].image.url}}" alt="">
            <div class="caption">
              <div class="itemBox">
                  <h4> Brand </h4>
                  <p>{{ frame.brand.name }}</p>
                  <h4> Name </h4>
                  <p>{{ frame.title }}</p>
                  <div id="rating">
                      {{ frame.rating }}
                  </div>
              </div>  
            </div>
        </div>
      </a>
  </div>
  </div>
</div>