<div class="row"> 
  <div class="col-xs-18 col-sm-6 col-md-6">
  <div class="thumbnail" style="height: 360px;">
    <img src="res/img/frames.png" alt="">
      <div class="caption">
        <h4> New design </h4>
        <p> Build your own bike from scratch. Select the best frame and start adding parts and customizing your bike. </p>
        <p><a href="#bike-frames/" class="btn btn-default btn-s" role="button" onclick="changeProgress(2)">Start</a></p>
    </div>
  </div>
  </div>
  <div class="col-xs-18 col-sm-6 col-md-6" >
  <div class="thumbnail" style="height: 360px;">
    <img src="res/img/fit_calculator.png" alt="">
      <div class="caption">
        <h4> Fit Calculator </h4>
        <p> Get a frame recommendation by analyzing your body parts measurements, gender and ride type.</p>
        <p><a href="http://www.competitivecyclist.com/Store/catalog/fitCalculatorBike.jsp" class="btn btn-default btn-s" role="button">Continue</a></p>
    </div>
  </div>
  </div>
</div>